<html>
<head>
</head>
<body>

<h1><% title %></h1>
<a href="/">Home</a>
<div id="name"><% name %></div>

<ul>
<% FOREACH lang IN languages %>
       <li><% lang %></li>
<% END %>
</ul>

<% IF condition %>
  <div>We have a true condition.</div>
<% ELSE %>
  <div>no condition</div>
<% END %>

<% IF other_condition %>
  <div>We have another ture condition.</div>
<% ELSE %>
  <div>other_condition is false</div>
<% END %>

</body>
</html>
