<html>
<head>
  <link rel="stylesheet" href="/css/style.css">
  <title>Tic Tac Toe</title>
</head>
<body>

<h1>Tic Tac Toe</h1>

<form method="POST" action="/play">
<table id="board">
  <% SET max_row = board.size - 1 %>
  <% FOR row IN [0 .. max_row] %>
    <% SET max_col =  board.$row.size - 1 %>
    <tr>
      <% FOR col IN [0 .. max_col] %>
         <% SET slot = board.$row.$col %>
         <% IF slot == "x" or slot == "o" %>
           <td class="<% slot %>"></td>
         <% ELSE %>
           <td class="empty"><button type="submit" name="sbt" value="<% row %>,<% col %>"></button></td>
         <% END %>
      <% END %>
    </tr>
  <% END %>
</table>
</form>

Next move by

<table id="turn">
<tr>
   <td class="<% turn %>"></td>
</tr>
</table>

<a href="/start">restart</a>

</body>
</html>
